.container {
  display: grid;
  background-color: gray;
  width: 80rem;
  /* flex-wrap: wrap; */
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* justify-items: center; */
  grid-auto-rows: auto;
}

.box {
  height: 460px;
  width: 260px;
  background-color: crimson;
  border: 1px solid black;
}
