* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2a0f40;
}

.navbar {
  height: 60px;
  width: 100%;
  background: rgba(21, 7, 32, 0.6); /* Dark transparent effect */
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar ul li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover,
.hero-section i:hover,
.hero-section p:hover {
  color: #f29c13;
  transition: 0.4s ease-in-out;
}

.hero-section {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section h1 {
  color: #975bbf;
  font-size: 3.8rem;
  margin-top: 10rem;
}

.hero-section p,
.hero-section a {
  text-decoration: none;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.2rem;
  font-size: 1.6rem;
}

.about {
  padding-left: 6rem;
  margin-top: 12rem;
  margin-right: 3rem;
}

.about h2,
.skills h2,
.Projects h2,
.Projects-box h3,
#Contact h2 {
  color: #975bbf;
}

h3,
p {
  color: white;
}

.about p {
  margin-top: 1rem;
  margin-right: 7rem;
  color: white;
  font-size: 1.2rem;
  height: 100px;
  width: 95%;
  background-color: #3f2653;
  border-radius: 8px;
  padding: 2rem;
  border: 0.7px solid white;
}

.skills,
.Projects {
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

h2 {
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.skills i {
  color: #f29c13;
  font-size: 3rem;
}

.skill-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skill-box,
.Projects-box {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f2653;
  padding: 2rem;
  flex-direction: column;
  border: 0.7px solid white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.Projects-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-bottom: 6rem;
}

.Projects-box {
  height: 200px;
  width: 90%;
  align-items: flex-start;
}

.Projects-box h3 {
  margin-bottom: 1.1rem;
  margin-top: 1.1rem;
  font-size: 1.7rem;
}

.Projects-box button {
  height: 30px;
  width: 90px;
  border-radius: 50px;
  background-color: #f29c13;
  border: none;
  flex-direction: row;
  margin-bottom: 1.1rem;
  margin-right: 1.1rem;
  color: #3f2653;
  font-size: 1.2rem;
}

.Projects-box p {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  text-decoration: none;
  margin-bottom: 1.1rem;
  font-size: 1.3rem;
  color: white;
}

.Projects-box a,
.Projects-box i {
  color: white;
  text-decoration: none;
}

.skill-box h3 {
  margin-top: 0.8rem;
}

.skill-box:hover,
.Projects-box:hover,
.about p:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.2);
}

#Contact {
  padding-left: 6rem;
}

.contact-box {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.contact-box input,
.contact-box textarea {
  height: 40px;
  width: 600px;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #3f2653;
  border: none;
  border-radius: 13px;

}

.contact-box textarea {
  padding-top: 1.2rem;
}

.contact-box button {
  height: 40px;
  width: 600px;
  font-size: 1.1rem;
  color: #2a0f40;
  background-color: #f29c13;
  border: none;
  border-radius: 13px;

}

button:hover{
  background-color: #da8907;
  color: #2a0f40;
  transition: 0.3s;
}

footer {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(21, 7, 32);
  height: 60px;
  width: 100%;
}


@media (max-width: 768px) {
  .navbar {
    height: auto;
    position: fixed;
  }

  .navbar ul {
    flex-direction: column;
    padding: 1rem;
  }

  .hero-section h1 {
    font-size: 2.8rem;
    text-align: center;
  }

  .skills-box {
    margin-bottom: 9rem;
  }

  .about p,.Projects p,.Projects button    {
    font-size: 0.9rem;
  }

  .about, .skills, .Projects, #Contact {
    padding-left: 2rem;
    padding-right: 2rem;
    height: auto;
  }

  .contact-box input,
  .contact-box textarea,
  .contact-box button {
    width: 80%;
  }

  .Projects-box {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 480px){
  .hero-section h1{
    font-size: 2rem;
  }

  .hero-section p{
    font-size: 1.2rem;
  }

  .skill-box {
    margin-bottom: 1.5rem;
    font-size: 0.7rem;
    height: auto;
    width: 60%;
    padding-right: 1rem;
  }

  .contact-box input,
  .contact-box textarea,
  .contact-box button{
    font-size: 0.7rem;
    width: 80%;
    padding-right: 1rem;

  }
  .about p{
    height: auto;
  }
  footer {
    font-size: 0.7rem;
    /* width: 100%;
    text-align: center; */
  }
}