* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2a0f40;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #150720;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar ul li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover,
.hero-section i:hover,.hero-section p:hover {
  color: #f29c13;
  transition: 0.4s ease-in-out;
}

.hero-section {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section h1 {
  color: #975bbf;
  font-size: 3.8rem;
  margin-top: 10rem;
}

.hero-section p,
.hero-section a {
  text-decoration: none;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.2rem;
  font-size: 1.6rem;
}

.about {
  padding-left: 6rem;
  margin-top: 12rem;
}

.about h2,
.skills h2,
.skill-box h3,
.Projects h2,
.Projects-box h3 {
  color: #975bbf;
}

.about p {
  margin-top: 1rem;
  margin-right: 7rem;
  color: white;
  font-size: 1.2rem;
}

.skills,
.Projects {
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.skills h2,
.Projects h2,
.about h2 {
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.skills i {
  color: #f29c13;
  font-size: 3rem;
}

.skill-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skill-box,
.Projects-box {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f2653;
  padding: 2rem;
  flex-direction: column;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.Projects-box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}

.Projects-box {
  height: 300px;
  width: 300px;
  align-items: flex-start;
}
.skill-box h3,
.Projects-box h3 {
  margin-top: 0.8rem;
}

.skill-box:hover,
.Projects-box:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}
